
        nav{
            background-color: rgb(144, 175, 241);
            padding: 40px  ;
        }


        
        .concert-one-regular {
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;

        }
        
        nav li{
            float: right;
            padding: 10px 30px;
            margin-top: -70px;
            list-style: none;

        
        }
        
        button{
            border-radius: 20px;
            background:#fdfdfd;
            border:double 5px ;
            margin: 30px 10px ;
            font-size: 30px;
            font-family: "Concert One", sans-serif;
        }
        
        a{
            color: black;
            text-decoration: none;
        }

        .titulo{
            font-family: "Concert One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 70px;
            color: rgb(144, 175, 241);
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .textp{
            margin-top: 30px;
            margin-left: 20%;
            margin-right: 20%;
            width: 800px;
            height: 200px;
            font-size: large;
            font-family: 'Times New Roman', Times, serif;
            
        }

        .subtitulo{
            text-align: center;
            font-size: 60px;
            font-family: "Concert One", sans-serif;
            color: rgb(144, 175, 241);

        }

        .tituloab{
            margin-left: 25%;
            margin-right: 20%;
            margin-top: 50px;
            text-align: center;
            text-align: center;
            font-size: 30px;
            font-family: "Concert One", sans-serif;
            color: rgb(144, 175, 241);

        }

        .aboutcon{
            text-align: center;
            margin-top: 30px;
            margin-left: 20%;
            margin-right: 20%;
            width: 800px;
            height: 200px;
            font-size: large;
            font-family: 'Times New Roman', Times, serif;

        }

        footer{
            background:  rgb(144, 175, 241);
            height: auto;
            /**width: 100vw;*/
            padding-top: 10px;
            color: #fff;
        }
        .footer-content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .footer-content h3{
            font-family: "Concert One", sans-serif;
            font-size: 3rem;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 1rem;
        
        }
        .footer-content p{
            max-width: 500px;
            line-height: 18px;
            font-size: 24px;
            text-align: center;
        }
        .socials{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;
        }
        .socials li{
            margin: 10px 100px 0px 20px;
            
        }
        .socials a{
            text-decoration: none;
            color: #fff;
        }
        .socials a i{
            font-size: 1.1rem;
            transition: color .4s ease;
            font-size: 35px;
        
        }
        
        .footer-bottom{
            background:  rgb(89, 140, 250);
            /**width: 100vw;*/
            padding: 20px 0;
            text-align: center;
        }
        .footer-bottom p{
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }
        .footer-bottom span{
            text-transform: uppercase;
            opacity: .4;
            font-weight: 200;
        }

        .evolution{
            margin-left: 90px;

            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            height: 110vh;
            width: 90vw;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        
    .container-card{
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 4 columnas de igual tamaño */
        gap: 10px;
    }

        .card {
            position: relative;
            width: 200px;
            height: 200px;  
            margin-top: 40px;
            margin-left:30px;
        }
        
        .card div {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            transition: 1s;
            border-radius:20px;
            font-family: "Concert One", sans-serif;
            color: #fff;
            
            
        }
        
        .card .front {
            background: rgb(144, 175, 241);
            transform: perspective(500px) rotateY(0deg);
        }
        
        .card .back {
            background: rgb(89, 140, 250);
            transform: perspective(500px) rotateY(180deg);
        }
        
        
        .card:hover .front {
        
            transform: perspective(500px) rotateY(180deg);
        }
        
        .card:hover .back {
        
            transform: perspective(500px) rotateY(360deg);
        }
        

        img{
            border-radius: 20px;
        }



